/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    scroll-behavior: smooth; /* Smooth scrolling for anchor links */
    line-height: 1.6;
    background-color: #f9f9f9; /* Light background */
}

/* Animated Typing Effect for Header */
.header-typing {
    overflow: hidden;
    border-right: 3px solid #333; /* Blinking cursor effect */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15rem;
    animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #333; }
}

/* Fade-in Animation */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s ease-in forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Header Styles */
header {
    background-color: #5d5c61; /* A cool dark pastel */
    color: #fff;
    padding: 80px 20px;
    text-align: center;
    position: relative;
    font-weight: 600;
}

header h1 {
    font-size: 2.5rem;
}

header h2 {
    font-weight: 400;
    font-size: 1.2rem;
    color: #d1d1d1;
}

/* Navigation Styles */
nav {
    background-color: #333;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 0.5em;
    transition: background-color 0.3s ease-in-out;
}

nav a:hover {
    background-color: #575757;
    border-radius: 5px;
}

/* Button and Link Hover Effects */
a.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #5d5c61;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.button:hover {
    background-color: #7395ae; /* Lighter pastel on hover */
}

/* Section Styles */
section {
  margin: 0 auto;
  max-width: 80%;
  padding: 60px 20px;
  opacity: 0;
  animation: slideIn 1s forwards; /* Slide in when section appears */
}

#home {
    background-color: #e6f7ff; /* Pastel light blue */
}

#about {
    background-color: #fffbe6; /* Pastel yellow */
}

#projects {
    background-color: #f7e6ff; /* Pastel lavender */
}

#publications {
    background-color: #f0ffe6; /* Pastel light green */
}

#skills {
    background-color
